{% extends 'base.html' %}

{% block meta %}
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Bootstrap demo</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-iYQeCzEYFbKjA/T2uDLTpkwGzCiq6soy8tYaI1GyVh/UjpbCx/TYkiZhlZB6+fzT" crossorigin="anonymous">

    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Dancing+Script:wght@600&display=swap" rel="stylesheet">
</head>
{% endblock meta %} 


{% block content %}
<body style="background-color:rgb(215, 232, 255)">
<nav class="navbar bg-light">
    <div class="container-fluid">
      <a class="navbar-brand">Nama: {{nama}}</</a>
      <button type="button" class="btn btn-primary">
        <a href="{% url 'wishlist:logout' %}" style="color:#fff; text-decoration: none;">Logout</a>
      </button>
    </div>
</nav>

<div ALIGN = "center">
<h1 style="font-family: Dancing Script; margin: 20px;">Let's make your wish come true! 🤩</h1>
<p>Sesi terakhir login: {{ last_login }}</p>

<table class="table" style="width: 70%; border: 2px; margin: 20px;" id="wishlist-table">
    <tr class="bg-primary" style="color:#fff; text-decoration: none;  border: 2px;">
        <th>Nama Barang</th>
        <th>Harga Barang</th>
        <th>Deskripsi</th>
    </tr>
    {% for barang in list_barang %}
    <tr style="color:#000; text-decoration: none;  border: 2px; background-color: #fff;">
        <th>{{barang.nama_barang}}</th>
        <th>{{barang.harga_barang}}</th>
        <th>{{barang.deskripsi}}</th>
    </tr>
    {% endfor %}
</table>
</div>
</body>


<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
<script>
   $(document).ready(function(){
      $("button").click(function(){
        $.get("{% url 'wishlist:show_json' %}", function(data) {
            $.each(data, function (index, value) {
                $("#wishlist-table").append(
                "<tr><td>" +
                value.fields.nama_barang +
                "</td><td>" +
                value.fields.harga_barang +
                "</td><td>" +
                value.fields.deskripsi +
                "</td></tr>")
        });
      });
    })
});
</script>

{% endblock content %}