{% extends 'base.html' %}

{% block meta %}
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Bootstrap demo</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-iYQeCzEYFbKjA/T2uDLTpkwGzCiq6soy8tYaI1GyVh/UjpbCx/TYkiZhlZB6+fzT" crossorigin="anonymous">
</head>
{% endblock meta %} 


{% block content %}
<nav class="navbar bg-light">
    <div class="container-fluid">
      <a class="navbar-brand">Nama: {{nama}}</</a>
      <button type="button" class="btn btn-primary">
        <a href="{% url 'wishlist:logout' %}" style="color:#fff; text-decoration: none;">Logout</a>
      </button>
    </div>
</nav>

<div>
<h5>Sesi terakhir login: {{ last_login }}</h5>

<table class="table" style="width: 100%">
    <tr class="bg-primary">
        <th>Nama Barang</th>
        <th>Harga Barang</th>
        <th>Deskripsi</th>
    </tr>
    {% for barang in list_barang %}
    <tr>
        <th>{{barang.nama_barang}}</th>
        <th>{{barang.harga_barang}}</th>
        <th>{{barang.deskripsi}}</th>
    </tr>
    {% endfor %}
</table>


</div>

{% endblock content %}
